examples/rpi-arduino.json
[{"id":"77b299ae.bf7bb8","type":"arduino out","z":"3a46c04a.27335","name":"Led","pin":"2","state":"OUTPUT","arduino":"5bd18221.38668c","x":895.5000114440918,"y":240.25000381469727,"wires":[]},{"id":"be26a666.c8b2e8","type":"awsiot in","z":"3a46c04a.27335","name":"Badge","topic":"sage/iot/workshop/SRV01/+","broker":"29504018.eefd2","x":128,"y":109,"wires":[["b89b3271.46fad"]]},{"id":"b89b3271.46fad","type":"function","z":"3a46c04a.27335","name":"GetBadgeId","func":"var parts = msg.topic.split(\"/\");\nmsg.badge = parts.pop();\n//msg.loc = \"TOTO\";//\nmsg.loc = parts.pop();\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":305.75000381469727,"y":188.00000381469727,"wires":[["d2f94a7a.f97ee8"]]},{"id":"d2f94a7a.f97ee8","type":"x3 function","z":"3a46c04a.27335","config":"506abbe2.b45914","name":"badge query","method":"READ","representation":"YUSER","key":"YBADGE eq '{{badge}}'","facet":"query","x":485.00000762939453,"y":189.00000381469727,"wires":[["449ce005.a6bdb"]]},{"id":"449ce005.a6bdb","type":"function","z":"3a46c04a.27335","name":"Get User Login","func":"var res = ((msg.payload && msg.payload.$resources) || [])[0]\nmsg.usr = res && res.USR;\nmsg.payload = null;\nmsg.headers = null;\nreturn msg;","outputs":1,"noerr":0,"x":675.5000076293945,"y":189.2500057220459,"wires":[["ea289b31.b805a8"]]},{"id":"ea289b31.b805a8","type":"x3 function","z":"3a46c04a.27335","config":"506abbe2.b45914","name":"Get access","method":"READ","representation":"YUSBADGE","key":"(USR eq '{{usr}}') and (LOC eq '{{loc}}')","facet":"query","x":297.5,"y":281.25,"wires":[["c60fa8e6.8f8538"]]},{"id":"c9a3bc40.17b01","type":"switch","z":"3a46c04a.27335","name":"Check access","property":"hasRecords","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":678.7500076293945,"y":283.7500047683716,"wires":[["77b299ae.bf7bb8"],["1da416b7.327d79"]]},{"id":"1da416b7.327d79","type":"arduino out","z":"3a46c04a.27335","name":"Buzz","pin":"3","state":"OUTPUT","arduino":"5bd18221.38668c","x":928.75,"y":324,"wires":[]},{"id":"c60fa8e6.8f8538","type":"function","z":"3a46c04a.27335","name":"Get User Login","func":"console.log(\"context\", flow.get(\"temperature\"));\nvar temperature = flow.get(\"temperature\");\nmsg.hasRecords = ((msg.payload && msg.payload.$resources) || []).length;\nif (temperature > 28) msg.hasRecords = 0;\nmsg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":483.75000762939453,"y":281.25000381469727,"wires":[["c9a3bc40.17b01","376970e8.1ae03"]]},{"id":"376970e8.1ae03","type":"delay","z":"3a46c04a.27335","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":606.2500114440918,"y":393.7500057220459,"wires":[["fd414d0d.92282"]]},{"id":"fd414d0d.92282","type":"function","z":"3a46c04a.27335","name":"Turn off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":768.75,"y":396.25,"wires":[["77b299ae.bf7bb8","1da416b7.327d79"]]},{"id":"ca68ff68.bc877","type":"awsiot in","z":"3a46c04a.27335","name":"Read temp","topic":"sage/iot/workshop/temperature","broker":"29504018.eefd2","x":135,"y":401,"wires":[["4357eb26.e5c924","962ff0ca.5c96d"]]},{"id":"4357eb26.e5c924","type":"function","z":"3a46c04a.27335","name":"Temp to context","func":"var pp = JSON.parse(msg.payload);\nflow.set(\"temperature\", pp.temperature);\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":423,"wires":[[]]},{"id":"373fbfec.47544","type":"iot-datasource","z":"3a46c04a.27335","name":"Temperature","tstampField":"tstamp","dataField":"temperature","disableDiscover":false,"x":485,"y":518,"wires":[[]]},{"id":"962ff0ca.5c96d","type":"function","z":"3a46c04a.27335","name":"Temp payload format","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.tstamp = (new Date(msg.payload.stamp)).getTime();\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":517,"wires":[["373fbfec.47544"]]},{"id":"5bd18221.38668c","type":"arduino-board","z":"3a46c04a.27335","device":"COM3"},{"id":"29504018.eefd2","type":"awsiot-broker","z":"3a46c04a.27335","region":"eu-west-1","clientid":"","usetls":true,"certdir":"certs","useproxy":false,"proxyauth":false,"proxyhost":"","proxyport":"","proxyuser":"","proxypassword":"","verifyservercert":false,"compatmode":false,"usewss":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"506abbe2.b45914","type":"x3-config","z":"3a46c04a.27335","name":"X3 on AWS","baseUrl":"http://52.30.57.116:8124","endpoint":"x3/erp/X3U9REF_SEED","user":"admin","password":"admin"}]